<!doctype html>
<html>
<body style="font-family:arial, sans-serif">
    <h1>{{header}}</h1>
    <h6><a href="/">Return to index page</a></h6>
    <form action="TopUsuariosCriticos" id="textform" method="post">
    <textarea name="text"></textarea>
    <br>
        <input type="radio" name="porcentaje" value="0">>= 50%
    <br>
    <input type="radio" name="porcentaje" value="1">< 50%
    <br>
    <input type="radio" name="porcentaje" value="2"> Todo
        <input type="submit" value="Submit">
</form>
    <div id="chart" class="chart"></div>
</body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
</script>
</html>